<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            margin: 1em;
            padding: 0
        }
    </style>
</head>
<body>
<div style="display: none" th:fragment="imageOk">
</div>
<span style="display: none" th:fragment="subheader">
    <div th:include=":: imageOk"></div>
    <h3>My cool application sub head</h3>
</span>

<div th:replace="fragments.html :: header"></div>
<div th:include=":: subheader"></div>

<h2 th:text="#{contact.least.title}">Contact list</h2>

<a th:href="@{/createContact}">Create</a>
<div th:include="fragments.html :: pagination (totalPages = ${contacts.totalPages}, currentPage= ${currentPage})"></div>
<table>
    <thead>
    <tr>
        <th th:text="#{contact.name}">Name</th>
        <th th:text="#{contact.lastname}">Last name</th>
        <th th:text="#{contact.description}">Description</th>
        <th th:text="#{contact.status}">Status</th>
        <th>*</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="contact: ${contacts}">
        <td th:text="${contact.name}"> Alex</td>
        <td th:text="${contact.lastName}"> Beljakov</td>
        <td th:text="${contact.description}">Teacher</td>
        <td th:text="#{'contact.status.value.'+ ${contact.status.name()}}"> Some status</td>
        <td>
            <a th:href="@{/view(id=${contact.id})}">View</a>
            <a th:href="@{/editContact/{id}(id=${contact.id})}">Edit</a>
            <div th:include=":: imageOk"></div>
        </td>
    </tr>
    <tr>
        <td>Oleksandr</td>
        <td>Kosiak</td>
        <td>Student</td>
        <td>Active</td>
        <td>
            <a>View</a>
            <a>Edit</a>
        </td>
    </tr>
    <tr>
        <td>Ryan</td>
        <td>Alexander</td>
        <td>Student</td>
        <td>Active</td>
        <td>
            <a>View</a>
            <a>Edit</a>
        </td>
    </tr>
    <tr>
        <td>Krislin</td>
        <td>Alas</td>
        <td>Student</td>
        <td>Passive</td>
        <td>
            <a>View</a>
            <a>Edit</a>
        </td>
    </tr>

    </tbody>
</table>
<div th:include="fragments.html :: pagination (totalPages = ${contacts.totalPages}, currentPage = ${currentPage})"></div>
<div th:include=":: imageOk"></div>
</body>
</html>